  @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  html {
    margin-top: 15px;
  }

  #mathle {
    font-size: 40px;
  }

  #background {
    animation: bcground 30s ease-in-out infinite;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
  }
  div, button, h1, h2, p {
    position: relative;
    z-index: 100;
  }

  table {
    margin: auto;
    margin-top: -20px;
    border-spacing: 10px;
  }

  th, td {
    padding: 5px;
    background-color: rgb(107, 107, 107);
    width: 180px;
    height: 45px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    justify-content: center;
    font-size: 30px;
  }

  * {
    font-family: "Funnel Display";
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }

  .gearIcon {

    width: 50px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  #calendar {
    transition: 0.2s;
  }

  #calendar:hover {
    transition: 0.3s;
    scale: 1.1;
    rotate: 10deg;
  }
  
  
  .gearIcon:hover {
    transform: rotate(90deg) scale(1.1);
  }

  #info {
    position: absolute;
    margin-top: -50px;
    right: 0px;
    width: 50px;
    cursor: pointer;
    z-index: 101;
    transition: 0.2s;
  }
  
  #info:hover {
    rotate:20deg;
    transform: scale(1.15);
  }



  body {
    background-color: #121212;
    color: #fafafa;
    text-align: center;
    margin: auto;
    padding: 20px 10px;
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 800px;
    width: 100vw;
  }

  #gameBox {
    margin-top: 50px;
    margin: auto;
  }



#bar {
  height: 80px;
  margin-top: 5px;
  float:left;
  margin-left: 20px;
  transition: 0.2s;

}

  #custom_game:hover, #daily_game:hover {
    transform: scale(1.025);
    border: 3px solid white;
  }
  #bar:hover {
    transition: 0.2s;
    transform: scale(1.05);
  }
  #custom_game:hover, #statbutton:hover {
    rotate: -1deg;
  }
  #daily_game:hover, #bar:hover {
    rotate: 1deg;
  }

  #daily_game, #custom_game, #statbutton {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid rgb(223, 223, 223);
    width: 280px;
    height: 80px;
    font-size: 26px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
  }

  #statbutton {
    float:right;
    margin-right: 20px;
    margin-top: 10px;
    height: 65px;
  }

  .vyber {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid rgb(223, 223, 223);
    width: 300px;
    height: 400px;
    font-size: clamp(24px, 5vw, 35px);
    color: white;
    border-radius: 20px;
  }


  #stats, #show_more {
    margin: auto;
    border: 1px solid rgb(223, 223, 223);
    position: flex;
    margin-top: 20px;
    width: 420px;
    height: 90px;
    font-size: 40px;
    color: white;
    justify-content: center;
    background-color: #121212;
    border-radius: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }

  #stats:hover, #show_more:hover {
    scale: 1.02;
    border: 3px solid white;
  }

  #custom_game, #daily_game, #statbutton {
    font-style: italic;
  } 


  #grid, #agrid {
    justify-content: center;
    margin: 20px auto;
    row-gap: clamp(5px, 3vw, 18px);
    column-gap: clamp(5px, 2vw, 18px);
    max-width: 80%;
    width: 80%;
  }
#grid {
  display: grid;
}

  #agrid {
    display: none;
  }

  #keyboard {
    margin-top: 20px;
    display: grid;
    gap: clamp(25px, 5vw, 35px);
    row-gap: clamp(35px, 7vw, 50px);
    justify-content: center;
    justify-items: center;
    padding: 0 5px;
    margin: auto;
    width: min-content;
  }
    
  .key {
    border: 2px solid rgb(255, 255, 255);
    width: clamp(35px, 8vw, 40px);
    height: clamp(42px, 8vw, 50px);
    justify-content: center;
    font-size: clamp(22px, 5vw, 30px);
    border-radius: 5px;
    display: flex;
    place-items: center;
    background-color: rgba(101, 185, 193, 0.8);
    cursor: pointer;
  }

  .cell {
    display: flex;
    transition: transform 0.1s, border 0.1s;
    width: clamp(40px, 9vw, 60px);
    height: clamp(40px, 9vw, 60px);
    border: 2px solid rgb(230, 230, 230);
    justify-content: center;
    align-items: center;
    font-size: clamp(21px, 5vw, 30px);
    border-radius: 9px;
    background-color: rgb(117, 117, 117);
    color: white;
    caret-color: transparent;
    position: relative;
    touch-action: manipulation;
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
  }

  .cell:focus {
    transition: 0.25s;
    outline: none;
    border: 3px solid rgb(255, 255, 255);
    transform: scale(1.1);
    
  }

  .locked {
    pointer-events: none;
    opacity: 0.6;
    border: none;
  }

  .filled {
    pointer-events: none;
    opacity: 0.9;
    border: none;
  }

  .ended {
    pointer-events: none;
    opacity: 1;
    border: 2px solid white;
    animation: winanimation 1.5s infinite;
  }

  @keyframes bcground {
    0%, 99%, 100% {
      transform: rotate(0) scale(1);
    }
    50% {
      transform: rotate(10deg) scale(1.3);
    }
  }

  @keyframes winanimation {
    0%, 100% {
      transform: rotate(5deg) scale(1.025);
    }
    50% {
      transform: rotate(-10deg) scale(1.15);
    }
  }

  @keyframes wrong {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(6px);
    }
    66% {
      transform: translateX(-6px);
    }
  }

  #custom_game, #daily_game, #statbutton {
    transition: 0.3s;
    background: linear-gradient(28deg,rgba(121, 255, 255, 0.4) 0%, rgba(180, 255, 249, 0.4) 29%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  }
  th, td {
    transition: 0.3s;
    background: linear-gradient(28deg,rgba(194, 194, 194, 0.5) 0%, rgba(230, 230, 230, 0.5) 29%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  }



  .vyber, .settings, input, #stats, #show_more {
    transition: 0.3s;
    background: linear-gradient(28deg,rgba(174, 248, 255, 0.4) 0%, rgba(192, 248, 255, 0.4) 29%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  }

  input:hover, #save:hover {
    transition: 0.05s;
    transform: scale(1.0);
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }

  .vyber p {
    line-height: 10px;
    font-size: 20px;
  }

  .vyber h1
  {
    margin-top: 20px;
    margin-bottom: -20px;
  }

  #custom_game:hover, #daily_game:hover, #statbutton:hover, #stats:hover, .vyber:hover, #show_more:hover {
    transition: 0.4s;
    transform: scale(1.03);
    background: linear-gradient(28deg,rgba(96, 255, 255, 0.5) 0%, rgba(152, 255, 246, 0.5) 29%, rgba(255, 255, 255, 0.5) 100%);
    border: 3px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.7);

  }


  #popup {
    transition: 0.3s;
    background: linear-gradient(28deg,rgba(139, 139, 139, 0.803) 0%, rgba(176, 176, 176, 0.781) 40%, rgba(255, 255, 255, 0.759) 100%);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  }
  

  .key, .cell {
    background: linear-gradient(28deg,rgba(139, 139, 139, 0.803) 0%, rgba(176, 176, 176, 0.781) 40%, rgba(255, 255, 255, 0.759) 100%);}

    .key:hover {
      transition: 0.2s;
      transform: scale(1.1);
      background: linear-gradient(28deg,rgb(139, 139, 139) 0%, rgb(176, 176, 176) 40%, rgb(255, 255, 255) 100%);}


      @media (max-width: 430px) {
        body {
          padding: 10px 5px;
        }

        #stats, #show_more {
          width: 300px;
          height: 70px;
        }
        #statbutton {
          margin-top: 7.5px;
          height: 50px;
          width: 160px;
          font-size: 22px;

        }
        #bar {
          height: 60px;
        }

        #info {
          width: 40px;
          float: right;
        }
        
        #grid, #agrid, #keyboard {
          margin: 15px auto;
          padding: 0 2px;
        }
      }

      @media (max-width: 640px)
      {
        #custom  {
          margin-right: 15px;
        }
      }







      
  .settings {
    margin: auto;
    margin-top: 10px;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 2rem;
    width: clamp(280px, 40vw, 320px);
  }

  .settings h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .setting {
    margin-bottom: 1.5rem;
  }

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  input[type="number"] {
    width: 80px;
    padding: 0.3rem;
    font-size: 1rem;
  }

  input {
    border-radius: 5px;
    outline: none;
  }

  .operators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  .operators label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  #save {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    border: 1px solid white;
    background: #0077ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.7);
  }




  #barholder {
    margin-top: 200px;
    margin: auto;
    border-radius: 12px;
    max-width: 350px;
    transition: 0.3s;
    background: linear-gradient(28deg,rgba(194, 194, 194, 0.5) 0%, rgba(230, 230, 230, 0.5) 29%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  }

  .guess-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
  }
  
  .label {
    margin-left: 20px;
    font-size: 24px;
  }
  
  .bar {
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .fill {
    height: 100%;
    width: 0px;
    background: #90d4d7;
    border-radius: 8px;
    transition: width 0.4s ease;
  }

  .number {
    font-size: 24px;
    margin-right: 10px;
  }
